<header>

    <h2 class = "site-title">Guess the Murderer </h2>
    <!--<img id = "title-logo" src = "mask-bandit.png"> -->

    <ul class="navlist">
      <li class="navitem" ><a href="index.html">Home</a></li>
      <li class="navitem"><a href="#">About</a></li>
      <li class="navitem"><a href="suspects.handlebars">Suspects</a></li>
      <li class="navitem"><a href = "#">Statistics</a></li>
    </ul>

</header>
