<div class = "hint-container">
    <p class = "hints-title">Hints Given: </p>
    <p class = "hints-guess">1. {{hint1}} </p>
    <p class = "hints-guess">2. {{hint2}} </p>
    <p class = "hints-guess">3. {{hint3}} </p>
</div>
