<div class = "suspect-container">
    <div class "person-container">
        <img src = "{{url}}">
        <p class="personName">{{name}}</p>
        <p class="personAge"> Age: {{age}}</p>
        <p> Times convicted: {{murderer}}</p>
    </div>
</div>
