{{> header}}

<main class = "about">

<div class = "about-container">
    <div id= "about-picture-container">
        <img src = "group.png" class = "about-picture">
    </div>
      <div class = "paragraph-container">
          <p>
            Welcome to "Guess the Murder", the crime-solving, heart-pounding thriller presented by Vincent Ta,
            Cameron Friel, and Kyle Andrews. You are an investigator, and your goal is to identify the murderer
            given three hints. You have three tries to convict the culprit. Each time you guess incorrectly, the
            suspect is removed to improve your chances. Good luck!

        </p>
    </div>

</div>

</main>
