{{> header}}

<main class = "about">

<div class = "about-container">
    <div id= "about-picture-container">
        <img src = "group.png" width = "400px" class = "about-picture">
    </div>
    <p>

    </p>

</div>

</main>
