{{> header}}

<main class="mainContainer">

  <article class="subContainerOne">
    <div class = "hint-container">
        <p class = "hints-title">Hints Given: </p>
        <p class = "hints-guess">1. {{hint}} </p>
        <p class = "hints-guess">2. {{hint}} </p>
        <p class = "hints-guess">3. {{hint}} </p>
    </div>
  </article>

  <article class="subContainerTwo">
    {{#each suspects}}
      {{> suspect}}
    {{/each}}
  </article>

</main>
