{{> header}}

<main class="mainContainer">

  <article class="subContainerOne">
    <div class = "hint-container">
        <p class = "hints-title">Hints Given: </p>
          {{# each suspectPeople}}
            {{> hint}}
          {{/each}}
    </div>
  </article>

  <article class="subContainerTwo">
    {{# each suspect}}
      {{> suspect}}
    {{/each}}
  </article>

</main>
