{{> header}}

<main class="mainContainer">

  <article class="subContainerOne">
    <div class = "hint-container">
        <p class = "hints-title">Hints Given: </p>
          {{# each suspectPeople}}
            {{> hint}}
          {{/each}}
        <p class = "hints-title">Guesses left: </p>

      <div class="bigBox">
        <div class="boxContainer">
          <img src = "x.png" class = "x-mark1 buffer">
        </div>
        <div class="boxContainer">
          <img src = "x.png" class = "x-mark2 buffer">
        </div>
        <div class="boxContainer">
          <img src = "x.png" class = "x-mark3 buffer">
        </div>
      </div>
    </div>
  </article>

  <article class="subContainerTwo">
    {{# each suspect}}
      {{> suspect}}
    {{/each}}
  </article>




  <script> var murderIndex = {{murdererIndex}};</script>
  <script src="main.js" charset="utf-8"></script>

</main>
