{{> header}}

<main class="mainContainer">

  <article class="subContainerOne">
    <div class = "hint-container">
        <p class = "hints-title">Hints Given: </p>
          {{# each suspectPeople}}
            {{> hint}}
          {{/each}}
        <p class = "hints-title">Guesses left: </p>

<!--
              <ul class="xlist">
                <li><img src = "x.png" class = "x-mark1"></li>
                <li><img src = "x.png" class = "x-mark2"></li>
                <li><img src = "x.png" class = "x-mark3"></li>
              </ul>
-->
      <div class="bigBox">
        <div class="boxContainer">
          <img src = "x.png" id = "x1" class = "x-mark1 hidden">
        </div>
        <div class="boxContainer">
          <img src = "x.png" id = "x2" class = "x-mark2 hidden">
        </div>
        <div class="boxContainer">
          <img src = "x.png" id = "x3" class = "x-mark3 hidden">
        </div>
      </div>
    </div>
  </article>

  <article class="subContainerTwo">
    {{# each suspect}}
      {{> suspect}}
    {{/each}}
  </article>




  <script> var murderIndex = {{murdererIndex}};</script>
  <script src="main.js" charset="utf-8"></script>

</main>
