{{> header}}

<main class="mainContainer">

  <article class="subContainerOne">
    {{> hint}}
  </article>

  <article class="subContainerTwo">
    {{# each suspect}}
      {{> suspect}}
    {{/each}}
  </article>

</main>
