{{> header}}

<main class = "statistics">

  <div class = "statTitle">
    <h1> Criminals Most Wanted: </h1>
  </div>

  <article class="statsubContainerTwo">
    {{# each suspect}}
      {{> stats}}
    {{/each}}
  </article>

</main>
