{{> header}}

<main class = "statistics">

  <h2> Criminals Most Wanted: </h2>

  <article class="subContainerTwo">
    {{# each suspect}}
      {{> stats}}
    {{/each}}
  </article>

</main>
