{{> header}}

<div class="aboutContainer">
  <article class="subContainerOne">
    <div class = "hint-container">
        <p class = "hints-title"> About Suspects </p>
        <p class= "suspects-info">This page has all the information about each suspect in the game.
        You can also add a suspect to the list by clicking the 'Create Suspect' button below.</p>
    </div>
  </article>

  <button id = "add-suspect-button">Create Suspect</button>
</div>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-twit-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a New Suspect</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="twit-input-element">
        <label for="twit-text-input">Suspect Name:</label>
        <textarea id="twit-text-input"></textarea>
      </div>
      <div class="twit-input-element">
        <label for="twit-attribution-input">Suspect Age:</label>
        <input type="text" id="twit-attribution-input">
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Suspect</button>
    </div>

  </div>
</div>

<article class="subContainerTwo">
  {{# each suspect}}
    {{> aboutSuspect}}
  {{/each}}
</article>

  <script src="suspects.js" charset="utf-8"></script>
