body
{
  background-color: #ffe6e6;
}

.site-title
{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  text-align: center;
  margin: -10px -8px;
  background-color:  #b30000;
  color: #ff9999;
}

#title-logo
{
  display: block;
  margin: 0 auto;
  z-index: -1;
}

#home-logo
{
  /*height: 100%;*/
}

.navlist
{
 list-style-type: none;
 margin: 8px -8px;
 padding: 0;
 overflow: hidden;
 background-color: #990000;
}

.navitem
{
  float: left;
  border: solid 1px;
  font-style: 'helvetica-new';
  font-size: 20px;
}

.navitem a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover
{
  color: white;
  background-color: #ff9999;
}

.subContainerOne{
  display: inline-block;
}

.hint-container
{
  font-family: 'Source Sans Pro', sans-serif;
  width: 20%;
  border: solid;
  border-radius: 10%;
  display: inline-block;
  position: fixed;
  margin-left: 10px;
}

.hints-title
{
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.hints-guess
{
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.subContainerTwo
{
  display: inline-block;
  width:1000px;
  max-width: 70%;
  float: right;
}

.suspect-container
{
  width: 30%;
  height: auto;
  margin-left: 20px;
  border: solid black 5px;
  display:inline-block;
  margin: 5px;
}

.suspect-container:hover
{
  background-color: #b30000;
  cursor: pointer;
}


.suspect-container img
{
  padding-top: 10px;
  border-radius: 20px;
  max-height: 100px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.personName
{
  text-align: center;
  font-weight: bold;
}

.personAge
{
  text-align: center;
  font-weight: bold;
}

.personConviction
{
  text-align: center;
  font-weight: bold;
}

.about-picture
{
  height: 200px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.suspects-info
{
    text-align: center;
    font-weight: bold;
}

.aboutPerson
{
  text-align: center;
  font-weight: bold;
}

.paragraph-container
{
  border: 2px #e6e6e6;
  box-shadow: 10px 10px 5px #999999;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: #fff2e6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}

/*Suspect.handlebars css*/

.aboutContainer
{
  position: fixed;
}

#add-suspect-button
{
  width: 250px;
  height: 50px;
  left: 10px;
  top: 200px;
  position: fixed;
  position: relative;
  background-color: #ff0000;
  border-color: #ff0000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  border-radius: 10px;
}

#add-suspect-button:hover
{
  cursor: pointer;
  background-color: #b30000;
  border-color: inherit;
}

.convict-container
{
  width: 30%;
  height: auto;
  margin-left: 20px;
  border: solid black 5px;
  display:inline-block;
  margin: 5px;

}

.convict-container img
{
  padding-top: 10px;
  border-radius: 20px;
  max-height: 100px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.convict-container:hover
{
  background-color: #b30000;
  cursor: pointer;
  opacity: .5;
}


/*
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.convict-container:hover .middle {
  opacity: 1;
}
*/

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
}

#create-twit-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 15px;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.twit-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.twit-input-element label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
}

.twit-input-element input,
.twit-input-element textarea {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.twit-input-element textarea {
  min-height: 64px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
}

.modal-footer button {
  font-size: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.modal-footer .modal-cancel-button:hover {
  background-color: #eee;
}

.modal-footer .modal-accept-button {
  background-color: #319df6;
  color: #fff;
}

.modal-footer .modal-accept-button:hover {
  background-color: #087dde;
}
