body
{
  background-color: #ffe6e6;
}

.site-title
{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  text-align: center;
  margin: -10px -8px;
  background-color:  #b30000;
  color: #ff9999;
}

#title-logo
{
  display: block;
  margin: 0 auto;
  z-index: -1;
}

#home-logo
{
  /*height: 100%;*/
}

.navlist
{
 list-style-type: none;
 margin: 8px -8px;
 padding: 0;
 overflow: hidden;
 background-color: #990000;
}

.navitem
{
  float: left;
  border: solid 1px;
  font-style: 'helvetica-new';
  font-size: 20px;
}

.navitem a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover
{
  color: white;
  background-color: #ff9999;
}

.subContainerOne{
  display: inline-block;
}

.hint-container
{
  font-family: 'Source Sans Pro', sans-serif;
  width: 20%;
  border: solid;
  border-radius: 10%;
  display: inline-block;
  position: fixed;
  margin-left: 10px;
}

.hints-title
{
  font-size: 30px;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.hints-guess
{
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.subContainerTwo
{
  display: inline-block;
  width:1000px;
  max-width: 70%;
  float: right;
}

.suspect-container
{
  width: 30%;
  height: auto;
  margin-left: 20px;
  border: solid black 5px;
  display:inline-block;
  margin: 5px;
}

.suspect-container:hover
{
  background-color: #b30000;
  cursor: pointer;
}


.suspect-container img
{
  padding-top: 10px;
  border-radius: 20px;
  max-height: 100px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.personName
{
  text-align: center;
  font-weight: bold;
}

.personAge
{
  text-align: center;
  font-weight: bold;
}

.about-picture
{
  height: 200px;
  display: block;
  margin: auto;
  padding-bottom: 20px;
}

.suspects-info
{
    text-align: center;
    font-weight: bold;
}

.aboutPerson
{
  text-align: center;
  font-weight: bold;
}

.paragraph-container
{
  border: 2px #e6e6e6;
  box-shadow: 10px 10px 5px #999999;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  background-color: #fff2e6;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
}
